body {
    font-family: monospace;
    margin: 20px;
    background-color: #007bff;
}

h1, h2, h3 {
    color: #ffffff;
}

h1 {
    margin-top: 30px;
}

h2 {
    color: #000000;
}

p {
    text-align: justify;
    line-height: 1.5;
    color: #000000;
}

img {
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.1); /* Adjust the scale factor for the desired zoom effect */
}
